.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




@media screen and (min-width:1440px) {
  .background {
    width: 1440px;
    height: 2405px;
    background-image: url('./img/background.png');
    position: absolute;
  }

  .middleBox {}

  .rectangle {
    position: absolute;
    top: 527px;
    left: 235px;
  }

  .gauge {
    position: absolute;
    top: 1188px;
    left: 235px;
  }

  .header {
    display: flex;
    position: absolute;
    top: 61px;

  }

  .hamburger {
    position: absolute;
    width: 88px;
    height: 90px;
    left: 100px;
  }

  .login {
    margin-left: 922px;
  }

  .logo {
    width: 170px;
    height: 50px;
    background-image: url('./img/logo.png');
    margin-top: 20px;
    margin-left: 70px;
  }

  .gameIntro {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1537px;
  }

  .game {
    margin-left: 70px;
    margin-bottom: 40px;
  }

  .introBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
  }

  .smallBox {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .intro {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .nav {
    width: 490px;
    height: 877px;
    background-image: url('./img/navigation.png');
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .home {
    position: absolute;
    top: 240px;
    left: 100px;
  }

  .gameBT {
    position: absolute;
    margin-top: 140px;
    margin-left: 100px;
  }
}


@media screen and (max-width:1440px) {
  .background {
    width: 375px;
    height: 958px;
    background-image: url('./img/mobileBackground.png');
    position: absolute;
  }

  .middleBox {}

  .rectangle {
    position: absolute;
    width: 307px;
    top: 134px;
    left: 31px;
  }

  .gauge {
    position: absolute;
    width: 349px;
    top: 350px;
    left: 12px;
  }

  .header {
    display: flex;
    position: absolute;
    top: 52px;

  }

  .hamburger {
    position: absolute;
    background-image: url('./img/hamburger.png');
    left: 25px;
    width: 43px;
  }

  .login {
    margin-left: 183px;
    width: 69px;
  }

  .logo {
    width: 83px;
    height: 24px;
    background-image: url('./img/logo.png');
    margin-top: 5px;
    margin-left: 14px;
  }

  .gameIntro {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .game {
    position: absolute;
    width: 129px;
    top: 472px;
    left: 123px;
  }

  .introBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 520px;
    margin-left: 25px;
  }

  .smallBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .box {
    width: 105px;
  }

  .intro {
    width: 205px;
    margin-left: 15px;
    margin-top: 7px;
  }
}